:root{
  /*
  --color-1: #395E66;
  --color-2: #387D7A;
  --color-3: #32936F;
  --color-4: #26A96C;
  
  --color-1: #DF8D03;
  --color-2: #EC9D00;
  --color-3: #F6C101;
  --color-4: #FAE96F;
  */

  --color-1: #184E77;
  --color-2: #1A759F;
  --color-3: #34A0A4;
  --color-4: #76C893;


  --text-color: #ffffff;
}

body {
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
  background-color: var(--color-4);
  font-size: max(1.5vh, 1.5vw);
  font-weight: normal;
  overflow: overlay;
}

#vh100 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

@media (min-width: 1025px) {
  #vh100 {
    height: 95vh;
  }
}



h2{
  font-size: 2em;
}

.button1 {
  background-color: transparent;
  user-select: none;
  width: fit-content;
  text-decoration: none;
  color: #fff;
  padding: 0.3em 1.5em;
  font-size: min(4vh, 4vw);
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border: 0.2em solid #fff;
  font-family: "Montserrat", sans-serif;
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.loader {
  border: 0.2em solid #fff;
  border-top: 0.2em solid var(--color-1);
  border-radius: 50%;
  width: 1em;
  height: 1em;
  animation: spin 2s linear infinite;
  display: none;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#query {
  width: 70vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0em;
}

#history {
  list-style: none;
  font-family: "Montserrat", sans-serif;
  width: 80vw;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

#history li {
  cursor: pointer;
}

#history a {
  text-decoration: none;
  color: #fff;
  font-size: 1em;
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  cursor: pointer;
}

#history a:hover {
  font-weight: bolder;
}

#share_history {
  display: flex;
  gap: 3em;
  margin-bottom: 0.5em;
}

.arrow {
  font-size: 1.4em;
  width: 1.25em;
  height: 1.25em;
  display: inline-block;
  position: relative;
  margin-left: 0.5em;
}

.arrow span {
  top: 0.5em;
  position: absolute;
  width: 0.75em;
  height: 0.1em;
  background: var(--text-color);
  display: inline-block;
  transition: all 0.2s ease;
}

.arrow-left {
  left: 0;
  transform: rotate(45deg);
}
.arrow-right {
  right: 0;
  transform: rotate(-45deg);
}

.button2 {
  display: flex;
  align-items: center;
  border-radius: 0%;
  border: none;
  border-bottom: 0.2em solid #fff;
  background-color: transparent;
  padding: 0;
  padding-bottom: -0.3em;
  font-size: max(1.5vh, 1vw);
  padding: 0 0.5em;
  cursor: pointer;
  user-select: none;
}
.button2 p {
  font-size: 1.5em;
  color: #fff;
  display: inline-block;
  line-height: 0%;
  font-weight: normal;
}

.button2 svg {
  width: 1.8em;
  height: 1.8em;
  margin-right: 0.5em;
}

#info {
  font-size: min(2vh, 2vw);
}

#info-toggle {
  display: none;
}

#info-toggle-btn {
  position: fixed;
  display: flex;
  align-items: flex-end;
  justify-content: end;
  right: 0.2em;
  bottom: 0.2em;
  z-index: 1000;
  color: #fff;
  font-size: 2.5em;
  user-select: none;
  cursor: pointer;
  height: 0.8em;
  width: 0.8em;
}

#info-toggle-btn svg {
  width: 0.8em;
  height: 0.8em;
}

#info-card {
  backdrop-filter: blur(5px);
  background-color: #00000020;
  padding: 1em;
  padding-right: 3em;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 100;
  height: fit-content;
  text-align: left;
  max-width: 30%;
  transition: all 0.5s ease-in-out;
}

#info-toggle:checked ~ #info-card {
  right: -100%;
}



/*----------------------------------------------------------------------------*/
#bubbles1 .bubble{
  background-color: var(--color-1);
  z-index: -10;
}
#bubbles2 .bubble{
  background-color: var(--color-2);
  z-index: -11;
}
#bubbles3 .bubble{
  background-color: var(--color-3);
  z-index: -12;
}
#sparkling {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  overflow: hidden;
}


.bubble{
  position: absolute;
  bottom: 0;
  border-radius: 50%;
  aspect-ratio: 1;
  animation: float linear;
}

/* animation float*/
@keyframes float {
  0% {
    transform: translateY(0);	
  }
  100% {
    transform: translateY(-300vh);
    opacity: 0%;
  }
}


.background {
  position: static;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
}


.background #background1{
  z-index: -10;
  display: grid;
  position: fixed;
  bottom: 0;
  filter: drop-shadow(0 0 1em #000);
}
.background #bg1 {
  bottom: 0;
  width: 100vw;
  height: min-content;
  margin: 0;
  padding: 0;
}
#bg1 path{
  fill: var(--color-1);
}
.background #background1 div{
  width: 100vw;
  background-color: var(--color-1);
}


.background #background2{
  z-index: -11;
  display: grid;
  position: fixed;
  bottom: 0;
  filter: drop-shadow(0 0 1em #000);
}
.background #bg2 {
  bottom: 0;
  width: 100vw;
  height: min-content;
  margin: 0;
  padding: 0;
}
#bg2 path{
  fill: var(--color-2);
}
.background #background2 div{
  width: 100vw;
  background-color: var(--color-2);
}


.background #background3{
  z-index: -12;
  display: grid;
  position: fixed;
  bottom: 0;
  filter: drop-shadow(0 0 1em #000);
}
.background #bg3 {
  bottom: 0;
  width: 100vw;
  height: min-content;
  margin: 0;
  padding: 0;
}
#bg3 path{
  fill: var(--color-3);
}
.background #background3 div{
  width: 100vw;
  background-color: var(--color-3);
}

@media (max-width: 1024px) {
  .background #background1 div{
    height: 15vh;
  }
  .background #background2 div{
    height: 30vh;
  }
  .background #background3 div{
    height: 45vh;
  }
}
::selection {
  background: var(--color-4);
  color: #fff;
}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb{
  background-color: var(--color-4);
  border-radius: 10px;
}
