body {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.grafiken {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.cropper{
    width:225px;
    height:260px;
    overflow: hidden;
    display: inline-block;
    align-items: center;
    
}

.gauge{
    position:relative;
    left:-50%;
}
