/* make the whole background color dark grey*/

body {
    background-color: white;
    
}



.grafiken{
    display: inline-block;
    
}

.cropper{
    width:225px;
    height:260px;
    overflow:hidden;
    display: inline-block;
}

.gauge{
    position:relative;
    left:-50%;
}