@font-face {
  font-family: "Folio";
  src: url('fonts/folioxb.ttf');

  font-style: normal;
  font-display: swap;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  overflow-x: hidden;
  color: #c20634;
  font-family: "Folio";
  text-transform: uppercase;
  text-shadow: 1px  1px 1px black, 1px -1px 1px black, -1px  1px 1px black, -1px -1px 1px black;

  background-image: url("https://www.astra-bier.de/img/bg/background-01-small-736x956.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}
::selection {
  background: #fff;
  color: #c20634;
}

button {
  all: unset;
}

@media (min-width: 600px) {
  body {
    background-image: url("https://www.astra-bier.de/img/bg/background-01-medium-1068x1212.jpg");
  }
}
@media (min-width: 1024px) {
  body {
    background-image: url("https://www.astra-bier.de/img/bg/background-01-large-2560x1620.jpg");
  }
}


#vh100 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 500px;
}

@media (min-width: 1025px) {
  #vh100 {
    height: 95vh;
  }
}

h1 {
  text-align: center;
  font-size: min(7.5vh, 7.5vw);
  font-weight: normal;
  line-height: 1.5em;
  min-height: 4.5em;
  display: flex;
  justify-content: center;

}

h2 {
  font-size: min(10vh, 10vw);
  font-weight: thin;
  line-height: 1em;
  padding-bottom: 0em;
  margin: 0;
  align-self: center;

}


.title{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  padding: 1em;
}

.title img{
  height: 4em;
  transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.title img:hover{
  height: 4.5em;
}

@media (max-width: 1024px) {
  #anker-right{
    display: none;
  }

  .title{
    flex-direction: column;
  }

  .title img{
    height: 5em;
  }
  .title img:hover{
    height: 5.5em;
  }
}




.button1 {
  user-select: none;
  width: fit-content;
  text-decoration: none;
  padding: 0.3em 1.5em;
  font-size: min(4vh, 4vw);
  font-weight: 500;
  font-family: "Folio";
  text-transform: uppercase;
  color: #fff;
  background-image: url("https://www.astra-bier.de/img/bg-red.jpg");
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border: 0.4em solid #fff;
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.button1:hover {
  box-shadow: 0 0 4px black;
}



.loader {
  font-size: min(4vh, 4vw);
  border: 0.2em solid #fff;
  border-top: 0.2em solid #c20634;
  border-radius: 50%;
  width: 1em;
  height: 1em;
  animation: spin 2s linear infinite;
  display: none;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#query {
  width: 70vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0em;
}

h3 {
  font-size: min(4vh, 4vw);
  font-weight: normal;
  margin-top: 2rem;
  user-select: none;
}

#history {
  font-size: 1.8em;
  list-style: none;
  width: 80vw;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

#history li {
  cursor: pointer;
}

.arrow {
  font-size: 1.4em;
  width: 1.25em;
  height: 1.25em;
  display: inline-block;
  position: relative;
  margin-left: 0.5em;
}

.arrow span {
  top: 0.5em;
  position: absolute;
  width: 0.75em;
  height: 0.1em;
  background: #fff;
  display: inline-block;
  transition: all 0.2s ease;
}

.arrow-left {
  left: 0;
  transform: rotate(45deg);
}
.arrow-right {
  right: 0;
  transform: rotate(-45deg);
}

.button2 {
  display: flex;
  align-items: center;
  border-radius: 0%;
  border: none;
  background-color: transparent;
  padding: 0;
  padding-bottom: -0.3em;
  font-size: max(1.5vh, 1vw);
  padding: 0 0.5em;
  cursor: pointer;
  user-select: none;
  color: #fff;
  -webkit-text-stroke: none;
  background-image: url("https://www.astra-bier.de/img/bg-red.jpg");
  background-color: #c20634;
  text-shadow: none;
  transform: skewX(-10deg);
  transition: all 0.2s ease-in-out;
}

.button2:hover {
  box-shadow: 0.2em 0.2em #000;
}


.button2 p {
  font-size: 1.5em;
  display: inline-block;
  line-height: 0%;
  font-weight: normal;
  font-family: "Folio";
  -webkit-text-stroke: 0;
}

.button2 svg {
  width: 1.8em;
  height: 1.8em;
  margin-right: 0.5em;
}

#share_history {
  display: flex;
  gap: 3em;
  margin-bottom: 0.5em;
}

#history a {
  text-decoration: none;
  font-size: 1em;
  font-weight: normal;
  cursor: pointer;
  color: #fff;
}

#history a:hover {
  text-shadow:1px  1px 1px black, 1px -1px 1px black, -1px  1px 1px black, -1px -1px 1px black, 0.1em 0.1em 1em #c20634;
}

#info {
  font-size: min(2vh, 2vw);
}

#info-toggle {
  display: none;
}

#info-toggle-btn {
  position: fixed;
  display: flex;
  align-items: flex-end;
  justify-content: end;
  right: 0.4em;
  bottom: 0.4em;
  z-index: 1000;
  font-size: 2.5em;
  user-select: none;
  cursor: pointer;
  height: 0.8em;
  width: 0.8em;
  fill: #fff;
  transition: all 0.5s linear;
}

#info-toggle-btn svg {
  width: 0.8em;
  height: 0.8em;
}

#info-card {
  -webkit-text-stroke: 0;
  border: #fff solid 0.5em;
  color: #fff;
  backdrop-filter: blur(8px);
  background-image: url("https://www.astra-bier.de/img/bg-red.jpg");
  box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.2);
  padding: 1em;
  padding-right: 3em;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 100;
  height: fit-content;
  text-align: left;
  max-width: 30%;
  transition: all 0.5s ease-in-out;
}

#info-card a {
  color: #fff;
}

#info-toggle:checked ~ #info-card {
  right: -100%;
}

#info-toggle:checked ~ #info-toggle-btn{
  fill: #c20634;
}


#watermark{
  position: fixed;
  font-size: max(1.5vh, 1vw);
  z-index: 10000;
  color: #fff;
  opacity: 80%;
  text-shadow: none;

  pointer-events: none;
  left: 5%;
  top: 10%;

  animation: bounce 1s ease-in-out infinite;

}
@keyframes bounce {
0% {
  transform: scale(1) rotate(-30deg);
}
50% {
  transform: scale(1.3) rotate(-30deg);
}
100% {
  transform: scale(1) rotate(-30deg);
}
}

